/* Style the product card */
.productcard{
  box-shadow: 0px 3px 13px 1px rgba(0,0,0,.12);
  background-color: #fff;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 400ms ease-in-out;
  border: 1px solid var(--bg-light);
}
.productcard:hover{
  box-shadow: none;
  border: 1px solid var(--bg-light);
  transform: rotateX(10deg);
}
.sale__icon{
  position: absolute;
  background-color: #3f3f3f;
  background-color: var(--pink);
  left: 0;
  top: -17px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 0 15px;
  line-height: 30px;
  min-height: 0;
  min-width: 0;
  z-index: 100;
  cursor: default;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,.2);
  border: 2px solid #fff;
  white-space: nowrap;
}

/* Style the product image */
.image_container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.image{
  width: 100%;
  height: 400px;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
}

.overlay {
  /* Add this property to allow the onMouseOver event to fire */
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.image_container:hover .image{
  transform: scaleZ(1.1)
}
.image_container:hover .overlay{
  transform: scale(2) !important;
  opacity: 0.1;
}

/* Style the product detail */
.product__detail{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-bottom: 1rem;
  gap: .8rem;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--bg-light);
}

/* Style the product title */
.product__name{
  font-weight: 500;
  font-size: 1.2rem;
}
.product__category{
  font-weight: 100;
  font-size: 1rem;
  color: var(--text-light);
}
.product__price{
  font-weight: 600;
  font-size: 1.6rem;
}
.product__btn{
  width: 100%;
  color: var(--text-light);
  font-weight: 600;
  font-size: .9rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.product__btn:hover{
  color: var(--black);
}
.product__btn a{
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: .8rem;
}








