.container{
  background-color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.title{
  color: var(--black);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.message{
  color: var(--black);
}

.shop-list{
  padding: 2rem;
  border: 1px solid var(--bg-light);
  border-radius: 12px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
.shop-list-item{
  border: 1px solid var(--bg-light);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.item-name{
  font-size: 1rem;
  color: var(--text--light);
}
.item-detail{
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.price{
  font-size: 1.2rem;
  font-weight: 600;

}
.increase,.decrease{
  font-size: 1.2rem;
  cursor: pointer;
}
.item-image{
  width: 80px;
  height: 160px;
}
.description{
  display: flex;
  flex-direction: row;
}
.btn{
  color: var(--text-light);
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:hover{
  color: rgb(217, 93, 93);
}

.total-price{

}

.link{
  background-color: var(--pink-light);
  padding: .2rem .6rem;
  text-align: center;
  border-radius: 1.2rem;
  color: white;
}

@media screen and (max-width:400px) {
  .shop-list{
    padding: .5rem;
  }
  
  .item-image{
    width: 80px;
  }
  .price{
    font-size: .8rem;
  }
  .shop-list-item{
    gap: .5rem;
    padding: 1rem 0;
  }
  .link{
    width: max-content;
  }
  
}