.container {
  display: flex;
  padding: 1.5rem;
  height: 4rem;
  justify-content: space-between;
}
.fixed-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--bg-light);
}
.logo {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.logo span {
  font-weight: 600;
}

.right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 400;
}
.active {
  font-weight: 700 !important;
}
.menu > li:hover {
  color: #fe956f;
  cursor: pointer;
}

.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.cart__box {
  position: relative;
  transition: all 1s ease-in-out;
}



.svg {
  width: 1.4rem;
  height: 1.2rem;
}
.badge {
  position: absolute;
  top: 50%;
  right: 0%;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  color: white;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  z-index: 10;
}

.bars {
  display: none;
}

.closeMenu {
  display: none;
}

@media screen and (max-width: 865px) {
  .right {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
    gap: 1rem;
    z-index: 20000;
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    padding: 1rem;
  }
  .bars {
    display: block;
  }
  .menu > li:hover {
    color: var(--pink);
  }
  .search {
    display: none;
  }
  .fixed-container {
    padding: 1rem 0.5rem;
  }
  .icons {
    flex-direction: column;
  }

  .logo img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .logo span {
    font-size: 0.8rem;
  }
  .fixed-container {
    padding: 0.5rem 1.5rem;
  }
  .closeMenu {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .fixed-container {
    display: none;
  }
}
