.title_container {
  background-color: rgb(241, 238, 238);
  min-height: 6rem;
  position: relative;
  z-index: 100;
  width: 100%;
}
.title_box{
  max-width: 100%;
  margin: 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title{
  align-self: center;
  justify-self: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 1rem;
}
.breadcrumbs{
  align-self: flex-end;
}