.footerWrapper {
  display: flex;
  flex-direction: column;
}
.footerWrapper > hr {
  width: 100%;
  background-color: white;
  border: none;
  height: 1px;
}

.wrapper {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
}
svg {
  width: 1.5rem;
}
.block {
  display: flex;
  flex-direction: column;
  color: #4f4f4f;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 500;
}
.logo > img {
  width: 2rem;
  margin-right: 1rem;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.7rem;
}
.detail > span:not(:nth-child(1)) {
  font-style: italic;
  cursor: pointer;
}
.detail > :nth-child(1) {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
}

.pngLine {
  display: flex;
  gap: 1rem;
}
.copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #888;
}
.copyright > span:nth-of-type(1) {
  display: block;
}

@media screen and (max-width: 856px) {
  .detail > :nth-child(1) {
    font-size: 1rem;
  }
  svg{
    width: .9rem;
  }
}

@media screen and (max-width: 640px) {
  .logo{
    display: none;
  }
  .wrapper{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: .5rem;
  }
  .detail{
    gap: .5rem;
  }
  .detail>span:nth-child(1){
    font-size: .9rem;
  }
  .pngLine{
    gap: .5rem;
  }
  .wrapper>
  .detail>span:nth-child(1){
    font-size: .8rem;
  }
  .log > img {
    width: 1rem;
  }
  .copyright{
    font-size: .6rem;
  }
}
