.show_search{
 display: none;
}
.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 9999;
  background-color: rgba(253, 253, 253, 0.984);
}
.search__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 4rem;

  
}
.input_box{
  width: 90%;
}
.input_box input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.buttons button{
  background: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: var(--pink);
}
