.breadcrumb {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  list-style: none;
  border-radius: 0.25rem;
  font-size: .8rem;
  text-align: center;
}

.breadcrumb-item {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 100;
  align-self: center;
}

.seperator{
  color: var(--text-light);
  padding: 0rem 1rem;
  font-size: 1.3rem;
  padding: 0 1.2rem; 
  font-weight: 100;

}

.breadcrumb > span:last-child  {
  font-size: 0;
}

.breadcrumb-item:hover {
  color: var(--pink-light);
}

.active {
  color: #6c757d;
  font-weight: 600;
}
