@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.html{
  background-color: var(--bg);
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--black);
  scroll-behavior: smooth;
  transition: all 3ms ease;
  overflow-x: hidden;
}
